{erl_opts, [debug_info]}.
{deps, [
  %% github deps
  {mysql_pool, {git, "git://github.com/silviucpp/mysql_pool.git", {ref, "9e5017fd0fed241b759833c2a3bb225bfa380b66"}}},
  {epgsql, {git, "git://github.com/epgsql/epgsql.git",  {ref, "b3138f76759750ab5e6202766cb39acd88c8ff54"}}},
  {pgapp, {git, "git://github.com/epgsql/pgapp.git", {ref, "15c042f70659465684e9a2ea319d2b2226877a69"}}}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [mysql_pool, epgsql, pgapp]}
]}.
