[
  {mysql_pool, [
    {pools, [
      {mypool, [
        {size, 20},
        {max_overflow, 0},
        {connection_options, [
          {host, "127.0.0.1"},
          {port, 3306},
          {user, "byron"},
          {password, "byron"},
          {log_warnings, false},
          {database, "test"},
          {keep_alive, 30000},
          {queries, [<<"set names 'utf8';">>]}
        ]}
      ]}
    ]}
  ]},
  {epgsql, [
    {host, "127.0.0.1"},
    {username, "postgres"},
    {password, "postgres"},
    {database, "test"}
  ]},
  {pgapp, [
    {pools, [
      {pgpool, [
          {size, 20},
          {max_overflow, 0}
        ],
        [
          {host, "127.0.0.1"},
          {database, "test"},
          {username, "postgres"},
          {password, "postgres"}
        ]
      }
    ]}
  ]}
].

